*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(135, 114, 89);
    padding: 20px;

}


h1{
    color: rgb(30, 57, 75);
    text-align: center;
}

h2{
    margin-top: 10px;
    text-align: center;
    color: rgb(30,57,75);
}

.menubox{
     max-width: 600px;
  margin: 0 auto;
  background: #EFE1B5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* .menubox h3{
    text-align: center;
    color: rgb(30, 57, 75);
    margin-bottom: 5px;
    margin-top: 5px;
} */

.menubox h3 {
  margin-top: 15px;
  margin-bottom: 8px;
  color: #e67e22;
}

.menubox ul, 
.menubox ol {
  margin-left: 20px;
  margin-bottom: 10px;
}

.menubox li {
  padding: 4px 0;
}

.table-wrapper {
  overflow-x: auto; /* makes table responsive on small screens */
}

table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
  background: #EFE1B5;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

th {
  background: #2c3e50;
  color: #ffffff;
}

/* Row highlighting */
tr:hover {
  background: #f1f1f1;
}