body {
  background: #ffd400; /* yellow background */
  text-align: center;
  font-family: Arial, sans-serif;
}

.title {
  margin: 20px 0;
  font-weight: bold;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 70%;
}

th {
  background: red;
  color: white;
  padding: 12px;
  border: 3px solid yellow;
}

td {
  background: #9acd32; /* green rows */
  padding: 12px;
  border: 3px solid yellow;
  font-weight: bold;
}
